<div class="container">

  <h1 class="main-header"><strong>My Movie Lists:</strong></h1>

  <%= link_to "Create a movie list", new_list_path, class:"btn btn-primary" %>

  <ul class="list">
    <% @lists.each do |list|  %>
      <%= link_to list.name, list_path(list) %>
    <% end %>
  </ul>
</div>
